[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
django-heroku = "*"
django-dotenv = "*"
environ = "*"
install = "*"
python-dotenv = "*"
django-environ = "*"
pytest-django = "*"
pillow = "*"
bs4 = "*"
django-storages = "*"
boto3 = "*"
coverage = "*"
django-crontab = "*"

[dev-packages]
pytest-django = "*"
pytest = "*"

[requires]
python_version = "3.9"

[scripts]
test = "bash -c 'rm -rf staticfiles/* && python manage.py collectstatic && pytest' "
