{% extends 'pages/base.html' %}
{% load static %}

{% block title %}
    <title>404 Not Found</title>
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/error.style.css' %}">
{% endblock css %}

{% block content %}
    <div id="error-container">
        <img class="error-img" src="{% static 'img/404.svg'%}" alt="404 not found">
        <a href="https://www.freepik.com/vectors/people">People vector created by stories - www.freepik.com</a>
        <h1>404 Page not found</h1>
    <div>
{% endblock content %}