{% extends 'pages/base.html' %}
{% load static %}

{% block title %}
    <title>500 Server Error</title>
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/error.style.css' %}">
{% endblock css %}

{% block content %}
    <div id="error-container">
        <img src="{% static 'img/500.svg'%}" alt="500 Error">
        <a href="https://www.freepik.com/vectors/people">People vector created by stories - www.freepik.com</a>
        <h1>500 Server Error</h1>
    <div>
{% endblock content %}