{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}{% endblock title %} {% block css %}{% endblock css %}
    {% block javascript %}{% endblock javascript %}
    <script defer src="{% static 'js/nav.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/base.style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav>
      <a href="{% url 'homepage' %}"><img class="nav-logo" src="{% static 'img/logo.svg' %}"/></a>
      <div id="nav-links">
        <a href="{% url 'find-a-lesson' %}">FIND A LESSON</a>
        <a href="{% url 'lesson-create' %}">ADD A LESSON</a>
        <a href="{% url 'dashboard' %}">DASHBOARD</a>
        <a href="{% url 'log_out' %}">SIGN OUT</a>
        {% if user.profile.profile_img %}
          <img id="user-profile" src={{user.profile.profile_img.url}} />
        {% else %}
          <img id="user-profile" src="{% static 'img/default-user-icon.svg' %}">
        {% endif %}
      </div>
    </nav>
    <div id="dropdown-menu">
      <a href="#">Link One</a>
      <a href="#">Link One</a>
      <a href="#">Link One</a>
    </div>
    {% block content %}{% endblock content %}
  </body>
</html>
