{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}{% endblock title %} {% block css %}{% endblock css %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav>
      <a href="{% url 'homepage' %}">HOMEPAGE</a>
      <a href="{% url 'dashboard' %}">DASHBOARD</a>
      <a href="{% url 'log_out' %}">SIGN OUT</a>
    </nav>
    {% block content %}{% endblock content %}
  </body>
</html>
