{% extends 'pages/base.html' %}
{% load static %}

{% block title %}
    <title>Update your classroom</title>
{% endblock title %}

{% block javascript %}
    <script defer src="{% static 'js/forms.js' %}"></script>
{% endblock javascript %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/forms.style.css' %}" />  
{% endblock css %}

{% block content %}
    <main class="form-container">
        <h1>Update Your Classroom</h1>
        
        <form method="POST">
            {% csrf_token %}
            {{form}}
            <button>Update</button>
        </form>

        Enter meetings details for Zoom/Google Meet/Teams
    </main>

{% endblock content %}