{% extends 'pages/base.html' %}
{% load static %}

{% block title %}
    <title>Dashboard</title>
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/dashboard.style.css' %}">
{% endblock css %}

{% block content %}
    <main>
        <section id="profile-overview">
        {% if user.profile.dollours == 0 %}

            <h2>Hey! good to see you! <br/> Why not create a lession to earn some Dollours</h2>
            <p>Dollour Balance</p>
            <img src="{%static 'img/dollours-coin.svg'%}">
            <p>${{user.profile.dollours}}</p>

        {% else %}
            <h2>Hey! good to see you! <br/> It's the perfect day to learn a new skill, or share one of yours</h2>
            <section id="dollours-container">
                <img class="dollours-coin" src="{%static 'img/dollours-coin.svg'%}">
                <p class="dollours-display">{{user.profile.dollours}}</p>
            </section>
           
        {% endif %}
        </section>
        
        <section class="dashboard-item" id="my-lessons-tutor">

            <h3 class="section-headings">Tutor Classrooms</h3>

            {% if tutor_rooms %}
                {% for classroom in  tutor_rooms %}
                    <article class="lesson-preview" onclick="window.location='{% url 'classroom-single' id=classroom.id %}'">
                        <Section class="lesson-info-section">
                            <h2>{{classroom.lesson.title}}</h2>
                            <p>{{classroom.time.date}} {{classroom.lesson.skill.name}} <span>({{classroom.lesson.skill.category}})</span> </p>
                        </section>
                        <section class="see-more-container">
                        {% if classroom.get_state_display == 'Created' or classroom.get_state_display == 'Confirmed' %}
                            <img src="{% static 'img/alert-icon.svg' %}">
                        {% else %}
                            <img src="{% static 'img/alert-icon-not-active.svg' %}">
                        {% endif %}
                        
                            
                        </section>
                    </article>
                {% endfor %}

            {% endif %}
        </section>

        <section class="dashboard-item" id="my-lessons-student">

            <h3 class="section-headings">Student Classrooms</h3>

            {% if student_rooms %}
            {% comment %} <h4 class="section-sub-headings">Tutor</h4> {% endcomment %}
            {% comment %} <hr> {% endcomment %}
            {% for classroom in  student_rooms %}
                <article class="lesson-preview" onclick="window.location='{% url 'classroom-single' id=classroom.id %}'">
                    <Section class="lesson-info-section">
                        <h2>{{classroom.lesson.title}}</h2>
                        <p>{{classroom.time.date}} {{classroom.lesson.skill.name}} <span>({{classroom.lesson.skill.category}})</span> </p>
                    </section>
                    <section class="see-more-container">
                        {% if classroom.get_state_display == 'Awaiting Confirmation' %}
                            <img src="{% static 'img/alert-icon.svg' %}">
                        {% else %}
                            <img src="{% static 'img/alert-icon-not-active.svg' %}">
                        {% endif %}
                    </section>
                </article>
            {% endfor %}

            {% endif %}
        </section>


            {% comment %} 
            
            status = created = tutor = Attention needed.
            status = created = student = none.

            status = awiting confirmation = tutor = none.
            status = awiting confirmation = student = Attention needed. 

            status = confirmed = tutor = attetnion needed.
            status = confirmed = student = none.

            upcoming, nither need to do anything
            
            {% endcomment %}

    </main>

{% endblock content %}


