{% extends 'pages/base.html' %}
{% load static %}

{% block title %}
    <title>Dashboard</title>
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/dashboard.style.css' %}">
{% endblock css %}

{% block content %}
    <main>
        <section id="profile-overview">
            <h2>amazing! you've spent <span class="stats">8 hours</span> learning incredible skills like <span class="stats">web design.</span> and you've given <span class="stats">11 hours</span> sharing your amazing talents with people like <span class="stats">teddanson45</span> & <span class="stats">billy222.</span><br/>we ❤️ to see it.</h2>
        </section>

        <section class="dashboard-item" id="update-profile" onclick="window.location='{% url 'update_profile' %}'">
            <h3 class="section-headings">Update Profile</h3>
        </section>

        <section class="dashboard-item" id="add-a-lesson" onclick="window.location='{% url 'lesson-create' %}'">
            <h3 class="section-headings">Create A Lesson</h3>
        </section>
        
        {% comment %} <section class="dashboard-item" id="add-a-lesson">
            <h3 class="section-headings">Create A Lesson</h3>
            <a href="{% url 'lesson-create' %}">Click here to create a new lesson</a>
        </section> {% endcomment %}

        <section class="dashboard-item" id="recently-added-lessons">
            <h3 class="section-headings">New Lessons</h3>
            <table>
                
                {% for lesson in lessons %}
                    <tr class="data" onclick="window.location='{% url 'lesson-single' id=lesson.id %}'">
                        <td class="left-aligned">{{lesson.title}}</td>
                        <td>{{lesson.skill.category}}</td>
                        <td>{{lesson.get_skill_level_display}}</td>
                    </tr>
                {% endfor %}
            </table>
        </section>

        <section class="dashboard-item" id="my-lesson">
            <h3 class="section-headings">My Lessons</h3>
        </section>
    </main>



    {% comment %} <h1>Welcome!</h1>
    <section id="recent-lessons">
        <h2>Recent Lessons</h2>
        {% for single_lesson in lessons %}
        <p>{{single_lesson.title}}</p>
        {% endfor %}
    <section> {% endcomment %}
{% endblock content %}
