{% extends 'pages/base.html' %}
{% load static %}

{% block title %}
    <title>Dashboard</title>
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/dashboard.style.css' %}">
{% endblock css %}

{% block content %}
    <main>
        <section id="profile-overview">
            <h2>amazing! you've spent <span class="stats">8 hours</span> learning incredible skills like <span class="stats">web design.</span> and you've given <span class="stats">11 hours</span> sharing your amazing talents with people like <span class="stats">teddanson45</span> & <span class="stats">billy222.</span><br/>we ❤️ to see it.</h2>
        </section>

        <section class="dashboard-item" id="update-profile" onclick="window.location='{% url 'update_profile' %}'">
            <h3 class="section-headings">Update Profile</h3>
        </section>

        <section class="dashboard-item" id="add-a-lesson" onclick="window.location='{% url 'lesson-create' %}'">
            <h3 class="section-headings">Create A Lesson</h3>
        </section>
        
        <section class="dashboard-item" id="my-lessons-tutor">

            <h3 class="section-headings">Tutor Classrooms</h3>

            {% if tutor_rooms %}
                {% for classroom in  tutor_rooms %}
                    <article class="lesson-preview" onclick="window.location='{% url 'classroom-single' id=classroom.id %}'">
                        <Section class="lesson-info-section">
                            <h2>{{classroom.lesson.title}}</h2>
                            <p>{{classroom.time.date}} {{classroom.lesson.skill.name}} <span>({{classroom.lesson.skill.category}})</span> </p>
                        </section>
                        <section class="see-more-container">
                        {% if classroom.get_state_display == 'Created' or classroom.get_state_display == 'Confirmed' %}
                            <img src="{% static 'img/alert-icon.svg' %}">
                        {% else %}
                            <img src="{% static 'img/alert-icon-not-active.svg' %}">
                        {% endif %}
                        
                            
                        </section>
                    </article>
                {% endfor %}

            {% endif %}
        </section>

        <section class="dashboard-item" id="my-lessons-student">

            <h3 class="section-headings">Student Classrooms</h3>

            {% if student_rooms %}
            {% comment %} <h4 class="section-sub-headings">Tutor</h4> {% endcomment %}
            {% comment %} <hr> {% endcomment %}
            {% for classroom in  student_rooms %}
                <article class="lesson-preview" onclick="window.location='{% url 'classroom-single' id=classroom.id %}'">
                    <Section class="lesson-info-section">
                        <h2>{{classroom.lesson.title}}</h2>
                        <p>{{classroom.time.date}} {{classroom.lesson.skill.name}} <span>({{classroom.lesson.skill.category}})</span> </p>
                    </section>
                    <section class="see-more-container">
                        {% if classroom.get_state_display == 'Awaiting Confirmation' %}
                            <img src="{% static 'img/alert-icon.svg' %}">
                        {% else %}
                            <img src="{% static 'img/alert-icon-not-active.svg' %}">
                        {% endif %}
                    </section>
                </article>
            {% endfor %}

            {% endif %}
        </section>


            {% comment %} 
            
            status = created = tutor = Attention needed.
            status = created = student = none.

            status = awiting confirmation = tutor = none.
            status = awiting confirmation = student = Attention needed. 

            status = confirmed = tutor = attetnion needed.
            status = confirmed = student = none.

            upcoming, nither need to do anything
            
            {% endcomment %}

    </main>

{% endblock content %}
