{% extends 'auth/base.html' %}
{% load static%} 
{% block title %}
    <title>Ours To Share</title>
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/homepage.style.css' %}" />
{% endblock css %}

{% block content %}
<section id="app-info">
    <p>The easy way to <span class="heavy">learn,<br/> grow</span> and spend <br/> <span class="heavy">our time</span> wisely.</p>
    <a href="#" class="find-out-more">Find Out More</a>
    {% if user.is_authenticated %}
        <a href="{% url 'dashboard' %}"><button>Go to Dashboard</button></a>
    {% else %}
        <a href="{% url 'log_in' %}"><button>Log In</button></a>
        <p class="sign-up">Don't have an account? <a href="{% url 'sign_up' %}">sign up here</a></p>
    {% endif %}
    
</section>
<a class="img-attrib" target="_blank" href="https://www.freepik.com/vectors/work">Work vector created by stories - www.freepik.com</a>



{% endblock content %}
