{% extends 'pages/base.html' %}
{% load static %}

{% block title %}
    <title>Learn {{lesson.skill.name}} with {{lesson.tutor}}</title>
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/lesson-single.style.css' %}" />  
{% endblock css %}

{% block content %}
    <main>
        <h1 class="heading"> Learn {{lesson.skill.name}}</h1>
        <p>with <a href="{% url 'single_profile' lesson.tutor.id %}">{{lesson.tutor}}</a></p>
        {% if lesson.tutor.profile.profile_img %}
            <img class="profile" src={{lesson.tutor.profile.profile_img.url}} />
            <br>
        {% endif %}
        <span class="stars">
        {% with ''|center:lesson.tutor.profile.rating as range %}
        {% for _ in range %}
            *
        {% endfor %}
        {% endwith %}
        </span>
        <hr/>
        <p>Level: {{lesson.get_skill_level_display}}</p>
        <h2 id="title" class="heading">{{lesson.title}}</h2>
        
        <hr/>
        <p id="description">{{lesson.description}}</p>
        <hr/>
        <h3 class="heading">Availability</h3>
        <table>
           <tr>
                {% for day in days %}
                    {% if day in lesson.days %}
                        <th>{{day}}</th>
                    {% else %}
                        <th class="unavailable-day">{{day}}</th>
                    {% endif %}
                {% endfor %}
           </tr>
           <tr>
                {% for day in days %}
                    {% if day in lesson.days %}
                        <td class="available"></td>
                    {% else %}
                        <td class="unavailable"></td>
                    {% endif %}
                {% endfor %}  
           </tr>
        </table>
        
        
        {% if user == lesson.tutor.id %}
            {% comment %} this will link to a new edit view {% endcomment %}
            <a href="{% url 'update-a-lesson' id=lesson.id %}"><button> Edit Your Lesson </button></a>
            <br>
            <a href="{% url 'delete-a-lesson' id=lesson.id %}"><button class="delete"> Delete Your Lesson </button></a>
        {% else %}
            <button> Book with {{lesson.tutor}} </button>
        {% endif %}

        <p class="post-date">Posted: {{lesson.created}}</p>
    </main>
{% endblock content %}