{% extends 'pages/base.html' %}
{% load static %}
{% load my_tags %}

{% block title %}
    <title>Find a Lesson</title>
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/my-classrooms.style.css' %}">
{% endblock css %}
{% block javascript %}
    {% comment %} <script defer src="{% static 'js/find-a-lesson.js' %}"> </script> {% endcomment %}
{% endblock javascript %}

{% block content %}
<main>
        {% comment %} <div class="filter-container">
        <h2>Filter Results</h2>
            <section id="filter-background">
            <select id="filter" name="filter">
                <option value="skill">Skill</option>
                <option value="category">Category</option>
                <option value="level">Level</option>
                <option value="title">Title</option>
                <option value="tutor">Tutor</option>
                <option value="rating">Rating</option>
            </select>
            <input id="filter-text" type="text" placeholder="Enter skill to filter on..." />
            <button id="filter-btn">Filter</button>
            <button id="reset-filter-btn">Reset</button>
            </section>
        </div>
        {% if filter %}
        <div id="filter-label"><span>Active Filter:</span> {{ filter }} contains "{{ filterText }}"</div>
        {% endif %} {% endcomment %}
        {% comment %} </div> {% endcomment %}
        <h2>Upcoming Lessons</h2>
        <section class="dashboard-item" id="my-lessons-tutor">

            <h3 class="section-headings">Upcoming Tutor Classrooms</h3>

            {% if tutor_rooms %}
                {% for classroom in  tutor_rooms %}
                    {% if classroom.get_state_display != 'Closed' %}
                        <article class="lesson-preview" onclick="window.location='{% url 'classroom-single' id=classroom.id %}'">
                            <Section class="lesson-info-section">
                                <h2>{{classroom.lesson.title}}</h2>
                                <p>{{classroom.time.date}} {{classroom.lesson.skill.name}} <span>({{classroom.lesson.skill.category}})</span> </p>
                            </section>
                            <section class="see-more-container">
                            {% if classroom.get_state_display == 'Created' or classroom.get_state_display == 'Confirmed' %}
                                <img src="{% static 'img/alert-icon.svg' %}">
                            {% else %}
                                <img src="{% static 'img/alert-icon-not-active.svg' %}">
                            {% endif %}
                            
                                
                            </section>
                        </article>
                    {% endif %}
                {% endfor %}

            {% endif %}
        </section>

        <section class="dashboard-item" id="my-lessons-tutor">

            <h3 class="section-headings">Upcoming Student Classrooms</h3>

            {% if student_rooms %}
                {% for classroom in  student_rooms %}
                    <article class="lesson-preview" onclick="window.location='{% url 'classroom-single' id=classroom.id %}'">
                        <Section class="lesson-info-section">
                            <h2>{{classroom.lesson.title}}</h2>
                            <p>{{classroom.time.date}} {{classroom.lesson.skill.name}} <span>({{classroom.lesson.skill.category}})</span> </p>
                        </section>
                        <section class="see-more-container">
                        {% if classroom.get_state_display == 'Created' or classroom.get_state_display == 'Confirmed' %}
                            <img src="{% static 'img/alert-icon.svg' %}">
                        {% else %}
                            <img src="{% static 'img/alert-icon-not-active.svg' %}">
                        {% endif %}
                        
                            
                        </section>
                    </article>
                {% endfor %}

            {% endif %}
        </section>
        
        
        
        
        
        
        
    
</main>
{% endblock content %}