{% extends 'pages/base.html' %}
{% load static %}
{% load my_tags %}

{% block title %}
    <title>Find a Lesson</title>
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/my-classrooms.style.css' %}">
{% endblock css %}
{% block javascript %}
    {% comment %} <script defer src="{% static 'js/find-a-lesson.js' %}"> </script> {% endcomment %}
{% endblock javascript %}

{% block content %}
<main>
         
        <h2 class="page-title">Past Classrooms</h2>
        <p class="page-title">To view your active classrooms <a href="{% url 'my-classrooms' %}">click here</a></p>

        <section class="dashboard-item" id="my-lessons-tutor">

            <h3 class="page-title">Past Tutor Classrooms</h3>

            {% if tutor_rooms %}
                {% for classroom in  tutor_rooms %}
                    {% if classroom.get_state_display == 'Closed' %}
                        <article class="lesson-preview" onclick="window.location='{% url 'classroom-single' id=classroom.id %}'">
                            <Section class="lesson-info-section">
                                <h2>{{classroom.lesson.title}}</h2>
                                <p>{{classroom.time.date}} {{classroom.lesson.skill.name}} <span>({{classroom.lesson.skill.category}})</span> </p>
                            </section>
                            <section class="see-more-container">
                            {% if classroom.get_state_display == 'Created' or classroom.get_state_display == 'Confirmed' %}
                                <img src="{% static 'img/alert-icon.svg' %}">
                            {% elif classroom.room_details %}
                                <img src="{% static 'img/link-live.svg' %}">
                            {% else %}
                                <img src="{% static 'img/alert-icon-not-active.svg' %}">
                            {% endif %}
                            
                                
                            </section>
                        </article>
                    {% endif %}
                {% endfor %}

            {% endif %}
        </section>

        <section class="dashboard-item" id="my-lessons-tutor">

            <h3  class="page-title">Past Student Classrooms</h3>

            {% if student_rooms %}
                {% for classroom in  student_rooms %}
                    {% if classroom.get_state_display == 'Closed' %}
                        <article class="lesson-preview" onclick="window.location='{% url 'classroom-single' id=classroom.id %}'">
                            <Section class="lesson-info-section">
                                <h2>{{classroom.lesson.title}}</h2>
                                <p>{{classroom.time.date}} {{classroom.lesson.skill.name}} <span>({{classroom.lesson.skill.category}})</span> </p>
                            </section>
                            <section class="see-more-container">
                            {% if classroom.get_state_display == 'Created' or classroom.get_state_display == 'Confirmed' %}
                                <img src="{% static 'img/alert-icon.svg' %}">
                            {% else %}
                                <img src="{% static 'img/alert-icon-not-active.svg' %}">
                            {% endif %}
                            
                                
                            </section>
                        </article>
                    {% endif %}
                {% endfor %}

            {% endif %}
        </section>
        
        
        
        
        
        
        
    
</main>
{% endblock content %}