* {
    box-sizing: border-box;
}
body {
    margin: 0;
}

nav {
    padding: 10px 60px;
    background: #F0F0F0;
    display: flex;

    align-items: center;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;

    color: #DD7676;

    margin: 0 10px;
    
}
.nav-logo {
    height: 40px;
}
#nav-links {
    display: flex;
    align-items: center;
}
#user-profile {
    height: 40px;
    width: 40px;
    border-radius: 100px;
    object-fit: cover;
    margin-left: 20px;
}

#user-profile:hover {
    cursor: pointer;
}

#dropdown-menu {
    background-color: teal;
    width: 120px;
    position: absolute;
    right: 0;
}
#dropdown-menu a {
    display: block;
    margin: 10px 0;
    text-align: center;
}