main {
  display: grid;

  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 2fr;
  gap: 50px;

  padding: 10px 60px;

  /* ! hardcoded but needs to be removed */
  height: 100vh;

  font-family: 'Raleway', sans-serif;
}

#profile-overview {
  grid-column: 1 / span 6;
  grid-row: 1 / span 1;

  display: grid;
  align-items: center;

  padding: 0 75px;

  font-size: 20px;
  font-weight: 200;
}
#profile-overview h2 {
  font-weight: 400;

  text-align: center;
  text-transform: capitalize;

  line-height: 35px;
}
.stats {
  font-weight: 700;
}


/* #recently-added-lessons {
  grid-column: 1 / span 2;
  grid-row: 3 / span 1;
} */

#my-lessons-tutor {
  grid-column: 1 / span 3;
  grid-row: 2 / span 1;
  background: none;
}
#my-lessons-student {
  grid-column: 4 / span 3;
  grid-row: 2 / span 1;
  background: none;
}
.dashboard-item {
  border-radius: 15px;
  background-color: #eeeeee;
  /* box-shadow: 0px 7px 6px rgba(0, 0, 0, 0.25); */
  /* padding: 0 30px 30px 30px; */
}

.section-headings {
  text-align: center;
  font-size: 25px;
}
.section-sub-headings {
  font-size: 18px;
  margin: 0;
}
table {
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 17px;
  /* background-color: coral; */
  padding: 10px;
  border-spacing: 0;
}
td {
  padding: 10px 0;
}
tr.data:hover {
  background: #dd7676;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.left-aligned {
  text-align: left;
}

.lesson-preview {
  margin: 0 auto;
  width: 100%;
  background: #f6f6f6;
  border-radius: 15px;

  overflow: hidden;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);

  margin-bottom: 20px;
}
.lesson-preview:hover {
  cursor: pointer;
  background: #dadada;
}

.lesson-preview img {
  width: 40px;
  height: 40px;
  object-fit: cover;

  margin: 15px;
}
.lesson-info-section {
  display: inline;
  flex-grow: 100;
}
.lesson-info-section h2,
p {
  margin: 2.5px 10px;
}

.lesson-info-section h2 {
  color: #dd7676;
}

.lesson-info-section p {
  font-weight: 600;
}

.lesson-info-section p {
  text-decoration: none;
  color: rgb(26, 26, 26);
}

.lesson-info-section span {
  font-weight: 300;
}

.lesson-info-section button {
  border: none;
  border-radius: 100px;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: black;

  position: absolute;
}

.dashboard-link {
  border-radius: 15px;
  background-color: #dd7676;
  color: white;
}

.dollours-coin {
  width: 40px;
  height: 40px;
  object-fit: cover;

  display: inline;
}
.dollours-display {
  display: inline;
  font-size: 25px;
}
#dollours-container {
  display: flex;
  align-items: center;
  justify-content: center;
}