{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}{% endblock title %}
    {% block css %}{% endblock css %}
    {% block javascript %}{% endblock javascript %}

    <link rel="icon"
      href="{% static 'img/dollours-coin.svg'%}">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <section id="auth-forms">
      {% block content %}{% endblock content %}
    <section>
    <a class="img-attrib" target="_blank" href="https://www.freepik.com/vectors/work">Work vector created by stories - www.freepik.com</a>
  </body>
</html>
