{% extends 'pages/base.html' %} 
{% load static%}
{% block title %}
<title>Delete Profile</title>
{% endblock title %} 
{% block css %}
  <link rel="stylesheet" href="{% static 'css/profile.style.css' %}" />
{% endblock css %} 
{% block javascript %}
  <script defer src="{% static 'js/profile.js' %}"></script>
{% endblock javascript %} 
{% block content %}
<main>
<section class="form-container">

<h1>Delete Profile</h1>
<hr/>
  <div id="form-div">
  <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div>Are you sure you want to delete your profile? This action cannot be reversed</div>
      {{ form }}
      <button class="delete" type="submit">Delete Profile</button>
    </div>
</form>
</section>
</main>

{% endblock content %}