{% extends 'pages/base.html' %} 
{% load static%}
{% block title %}
<title>Profile</title>
{% endblock title %} 
{% block css %}
  <link rel="stylesheet" href="{% static 'css/profile.style.css' %}" />
{% endblock css %} 
{% block content %}
<main>

<div class="profile-container">
    <div class="profile-head">
        {% if user.profile.profile_img %}
            <img class="profile" src={{user.profile.profile_img.url}} alt="profile image"/>
        {% endif %}
        <h1 class="username">{{user.username}}</h1>
        <section id="ratings-container">
        {% with ''|center:user.profile.rating as range %}
            {% for _ in range %}
                <img src="{% static 'img/star.svg' %}" alt="user rating">
            {% endfor %}
        {% endwith %}
        </section>
    </div>
    <hr>
    <div class="profile-detail">
        <p><span>Name: </span>{{user.first_name}} {{user.last_name}}</p>
        {% if user.profile.bio %}
            <p><span>Bio: </span>{{user.profile.bio}}</p>
        {% endif %}
        
        <p><span>Contact: </span><a href="mailto:{{user.email}}">{{user.email}}</a></p>
    </div>
    
</div>
</main>

{% endblock content %}